.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**********************************/
/**********GENERAL STYLING*********/
/**********************************/
.formElementContainer form input {
  border-radius: 15px;
  height: 20px;
  padding: 5px;
}
#imageSubmitBtn{
  height: 30px;
  margin-top: 10px;
}
#formBtnRow button {
  border-radius: 10px;
  height: 30px;
  width: 100%;
  text-transform: capitalize;
}
.formSectionBtns {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;  
}
.formSectionBtns:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.formSectionBtns:active {
	position:relative;
	top:1px;
}
#imgUploadStatus {
  position: relative;
  top: -10px;
}


/**********************************/
/*************CONTAINERS***********/
/**********************************/

#formSectionContainer, .bannerContainer {
  /* background-image: url();  */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.bannerContainer {
  height: 60%;
  background-color: #30558A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border: pink dotted 2px; */
}
#loginContainer {
  display: flex;
  margin-right: 50px;
}
#logoContainer{
  margin-left: 50px;
}
#formSectionContainer{
  background-color: #30558A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
#imageFormContainer {
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
#formInputRow {
  display: flex;
}
#formBtnRow {
  display: flex;
  position: relative;
  top: -20px;
  padding: 5px;
  width: 50%;
  justify-content: space-evenly;
  /* border: turquoise 2px dotted; */
}
.formElementContainer {
  margin: 10px;
  padding: 15px;
  border:#BA3F38 4px solid;
  border-radius: 20px;
  background-color: #F2B844;
  height: 100px;
}

/**********************************/
/************TEXT STYLING**********/
/**********************************/
.formLabel {
  text-transform: capitalize;
  font-weight: bold;
}
.platoOptions {
  text-transform: capitalize;
}



/**********************************/
/**************IMAGES**************/
/**********************************/
#logo{
  margin: 20px;
  width: 20%;
  border-radius: 20px;
}
#loginIcon{
  width: 10%;
  margin: 10px;
}

/* {#3988BF,  #F2B844, #30558A, #BA3F3} */